<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Avalia.DAO.Properties.Settings.NIVEL_ACESSOConnectionString"
            connectionString="User Id=postgres;Host=localhost;Database=NIVEL_ACESSO"
            providerName="Devart.Data.PostgreSql" />
    </connectionStrings>
</configuration>